{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <div id="welcome">
                <h1>Welcome to AlloFlow</h1>
            </div>
            {{ include('stream/new.html.twig') }}
        </div>
        <div class="container">
            {{ include('stream/index.html.twig') }}
        </div>
    </div>
{% endblock %}
